@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #eff2fa;
  font-family: 'Inter', sans-serif;
}

.container-1 {
  max-width: 60%;
  margin: 0 auto 20px auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff2fa;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between logo and title */
}

.logo {
  width: 40px;  /* Adjust size as needed */
  height: auto;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  color: #30353c;
}

.create-btn {
  background-color: #5cb85c;
  color: #eff2fa;
  padding: 15px 25px;
  border: 2px solid #5cb85c;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  transition: all ease-in-out 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.create-btn:hover {
  background-color: #2a8243;
}

.budget-list {
  width: 100%;
}

.budget-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  gap: 10px;
}

.budget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-header h3 {
  font-size: 25px;
  font-weight: 700;
  color: #30353c;
  margin: 0px;
}

.budget-info table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.budget-info td {
  width: 50%;
  border: 1px solid #ccc;
  padding: 8px 12px;
  word-wrap: break-word;
}

.budget-info tr:not(:last-child) td {
  border-bottom: 1px solid #ccc;
}

.budget-info td {
  font-size: 15px;
  font-weight: 400;
  color: #30353c;
}

.status {
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 8px 0;
  border-radius: 20px;
  font-size: 0.9em;
}

.approved {
  background: #5cb85c;
  color: #eff2fa;
}

.finished {
  background: #f0ad4e;
  color: #eff2fa;
}